<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
      <h5 class="mb-0">
        <i class="fa-solid fa-file-circle-plus me-2"></i>Detalle Cita Medica
      </h5>
    </div>
    <div class="card-body p-5">
      <form #f="ngForm" >
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Cedula del pacientes: </label>
          <div class="col-sm-10">
            <input
              #idPaciente="ngModel"
              [ngClass]="
                idPaciente.invalid && (idPaciente.dirty || idPaciente.touched)
                  ? 'is-invalid'
                  : ''
              "readonly
              type="text"
              [(ngModel)]="detalleCitaMedicoDTO.idPaciente"
              name="idPaciente"
              required
              class="form-control"
            />
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Id de la Cita: </label>
          <div class="col-sm-10">
            <input
              #idCita="ngModel"
              [ngClass]="
                idCita.invalid && (idCita.dirty || idCita.touched)
                  ? 'is-invalid'
                  : ''
              "readonly
              type="text"
              [(ngModel)]="detalleCitaMedicoDTO.idCita"
              name="idCita"
              required
              class="form-control"
            />
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Cedula del medico: </label>
          <div class="col-sm-10">
            <input
              #idMedico="ngModel"
              [ngClass]="
                idMedico.invalid && (idMedico.dirty || idMedico.touched)
                  ? 'is-invalid'
                  : ''
              "readonly
              type="text"
              [(ngModel)]="detalleCitaMedicoDTO.idMedico"
              name="idMedico"
              required
              class="form-control"
            />
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Tratamiento: </label>
          <div class="col-sm-10">
            <input
              #tratamiento="ngModel"
              [ngClass]="
                tratamiento.invalid && (tratamiento.dirty || tratamiento.touched)
                  ? 'is-invalid'
                  : ''
              "readonly
              type="text"
              [(ngModel)]="detalleCitaMedicoDTO.tratamiento"
              name="tratamiento"
              required
              class="form-control"
            />
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Diagnostico: </label>
          <div class="col-sm-10">
            <input
              #diagnostico="ngModel"
              [ngClass]="
                diagnostico.invalid && (diagnostico.dirty || diagnostico.touched)
                  ? 'is-invalid'
                  : ''
              "readonly
              type="text"
              [(ngModel)]="detalleCitaMedicoDTO.diagnostico"
              name="diagnostico"
              required
              class="form-control"
            />
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Sintomas del Paciente: </label>
          <div class="col-sm-10">
            <input
              #sintomasPaciente="ngModel"
              [ngClass]="
                sintomasPaciente.invalid &&
                (sintomasPaciente.dirty || sintomasPaciente.touched)
                  ? 'is-invalid'
                  : ''
              "readonly
              type="text"
              [(ngModel)]="detalleCitaMedicoDTO.sintomasPaciente"
              name="sintomasPaciente"
              required
              class="form-control"
            />
          </div>
        </div>
  
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label"
            >Nota Medica del Paciente:
          </label>
          <div class="col-sm-10">
            <input
              #notaMedica="ngModel"
              [ngClass]="
                notaMedica.invalid && (notaMedica.dirty || notaMedica.touched)
                  ? 'is-invalid'
                  : ''
              "readonly
              type="text"
              [(ngModel)]="detalleCitaMedicoDTO.notaMedica"
              name="notaMedica"
              required
              class="form-control"
            />
          </div>
        </div>

      </form>
    </div>
  </div>
  